extends default

block content
  div.container
  
    each enemy in enemies
      div.person
        div.person-image(style=`background: url('/images/${enemy.image}') top center
        no-repeat; background-size: cover;`)
        h2.person-name
          | #{enemy.name}
          p #{enemy.health}
        a(href=`/profile?id=${enemy._id}`)
          | View Profile